:root{
  --v-background-base: #EBEBEB;
  --v-primary-base: #379ED5;
  --v-primary-base-hover: #ea2e2e;
  --v-secondary-base: #6c757d;
  --v-text-category-base: #d6d5df;
  --v-text-list-item-base: #a3a2a8;
  
  --v-btn-primary-base: #28a745;
  --v-btn-dangerous-base: #dc3545;
  --v-btn-animate: #1E9ADC;
  --v-btn-animate-hover: #097CBA;

  --v-sidebar-header-bg: #2B2944;
  --v-sidebar-main-bg: #252337;
  --v-sidebar-footer-bg: #2B2944;
  --v-sidebar-footer-border: #363263;
}